<!DOCTYPE html>
<html lang="en" ng-app="TCPViewer">
<head>
    <meta charset="UTF-8">
    <title>TCP Viewer</title>
    <link rel="stylesheet" href="../bower_components/angular-chart.js/dist/angular-chart.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/Materialize/dist/css/materialize.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-controller="mainController">
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">网络流量监控</a>
        <ul id="nav-mobile" class="left">
            <li><a id="toggle-stats" class="waves-effect waves-light btn"
                   ng-click="toggleChart()">Statistics</a></li>
            <li></li>
        </ul>
    </div>
</nav>
<main>
    <div id="data-per-second" ng-show="chartIsShown">
        <canvas class="chart chart-line"
                chart-data="data"
                chart-labels="labels"
                chart-options="options"
                width="100"
                height="30"
                >
        </canvas>
    </div>
    <table class="centered highlight responsive-table">
        <thead>
        <tr>
            <th data-field="pid"
                ng-click="sortData('pid')">PID
                <div ng-class="getSortClass('pid')"></div>
            </th>
            <th data-field="proto"
                ng-click="sortData('proto')">Protocol
                <div ng-class="getSortClass('proto')"></div>
            </th>
            <th data-field="shost"
                ng-click="sortData('saddr')">Source Host
                <div ng-class="getSortClass('saddr')"></div>
            </th>
            <th data-field="dhost"
                ng-click="sortData('daddr')">Destination Host
                <div ng-class="getSortClass('daddr')"></div>
            </th>
            <th data-field="state"
                ng-click="sortData('state')">State
                <div ng-class="getSortClass('state')"></div>
            </th>
            <th data-field="send"
                ng-click="sortData('sent')">Send<span class="size-unit">(B)</span>
                <div ng-class="getSortClass('sent')"></div>
            </th>
            <th data-field="recv"
                ng-click="sortData('received')">Receive<span class="size-unit">(B)</span>
                <div ng-class="getSortClass('received')"></div>
            </th>
        </tr>
        </thead>
        <tbody id="conn-list">
        <tr ng-repeat="connection in connections | orderBy:sortColumn:reverseSort">
            <td>{{ connection.pid }}</td>
            <td>{{ connection.proto }}</td>
            <td>{{ connection.saddr + ":" + connection.sport }}</td>
            <td>{{ connection.daddr + ":" + connection.dport }}</td>
            <td>{{ connection.state }}</td>
            <td>{{ connection.sent }}</td>
            <td>{{ connection.received }}</td>
        </tr>
        </tbody>
    </table>
</main>
<script src="../bower_components/Chart.js/Chart.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-chart.js/dist/angular-chart.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>