main th {
    cursor: pointer;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    display: inline-block;
}

.ng-hide-add, .ng-hide-remove {
    transition: all linear 0.5s;
}

.ng-hide {
    line-height: 0;
    opacity: 0;
}